<header>
    <img src="../../assets/white.png" alt="" class="logo">
    <nav>
        <ul class="navlinks">
            <li class="items"><a routerLink="/main">Home</a></li>
            <li class="items"><a routerLink="/about-us">About-Us</a></li>
            <li class="items"><a href="#">Services</a></li>
            <li><a routerLink="/contact-us"><button>Contact Us</button></a></li>
            <li onclick="showSidebar()"><a href="#"></a></li>
        </ul>
        <ul class="sidebar">
            <li onclick="closeSidebar()"><a href="#"></a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About-Us</a></li>
            <img src="https://t3.ftcdn.net/jpg/02/51/80/40/360_F_251804029_ON3oL8BkopdueiT61zXaDMOF3qfSiWNx.jpg" alt="" >
        </ul>
    </nav>
</header>